@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


@font-face {
    font-family: 'aArigatouGozaimasu';
    src: url(../fonts/aArigatouGozaimasu.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

/** --------------------------------- HEADER --------------------------------- **/
header{
    width: 100vw;
    background: #ef233c;
}

.top-bar{
    width: 100%;
    height: 30px;
    color: #ef233c;
    background: #ef233c;
}

.logo {
    display: block;
    width: 20%;
    margin: auto;
    padding-bottom: 20px;
}

body {
    background: url(../images/productos/fondo-admin30.png);
    background-size: cover;
}

/** ---------------------------------- FORM ---------------------------------- **/
main {
    width: 100vw;
    margin: auto;
    margin-top: 100px;
}

.container {
    width: 90%;
    height: 60%;
    margin: auto;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin-bottom: 50px;
}

.producto {
    width: 40%;
    display: block;
    margin: auto;
    padding-bottom: 20px;
}

h2 {
    font-family: 'aArigatouGozaimasu';
    text-align: center;
    padding: 30px;
    color: #515372;
}

.container-form {
    margin: auto;
    padding: 20px;
    letter-spacing: 1px;
    height: 100%;
}

.newProduct-container {
    width: 100%;
    margin: auto;
    line-height: 35px;
    font-size: 14px;
}

input {
    height: 25px;
    border-radius: 20px;
    border: 1px solid hsl(353, 82%, 80%);
    font-family: 'Montserrat';
}

.file{
    width: 90%;
    border-radius: 20px;
    border: 1px solid hsl(353, 82%, 80%);
}

label {
    font-family: 'Poppins';
    font-weight: bold;
    color:#ef233c;
    font-size: 18px;
}

.product-name p {
    font-size: 16px;
}

.product-price p {
    font-size: 16px;
}

button {
    margin-top: 20px;
    padding: 8px 40px;
    text-transform: uppercase;
    border-radius: 20px;
	color: #FFFFFF;
}

.question {
    border-top: 1px solid #777;
    margin-top: 20px;
    padding-top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.btn {
    display: flex;
    align-content: row;
    justify-content: center;
    margin: 10px;
}

.btn-left {
    margin-right: 5px;
}

.btn-right {
    margin-left: 5px;
}

.btn-right button {
    background-color: #515372;
    border: none;
}

.btn-left button {
    background-color: #ef233c;
    border: none;
}


/** ------------------------------- RESPONSIVE ------------------------------- **/

@media (min-width: 769px) {
    .container{
        width: 40%;
        height: 60%;
    }   
}

@media (min-width: 1200px) {
    .container{
        width: 20%;
        height: 60%;
    }   
}