*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background: #ef233c;
}

.top-bar{
    height: 30px;
    color: #ef233c;
    background:#EF233C;
}

.logo {
    display: block;
    width: 20%;
    margin: auto;
    padding-bottom: 20px;
}