@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'aArigatouGozaimasu';
    src: url(../fonts/aArigatouGozaimasu.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** --------------------------------- HEADER --------------------------------- **/
header{
    width: 1920px;
    background: #ef233c;
}

.top-bar{
    width: 1920px;
    height: 30px;
    color: #ef233c;
    background:#EF233C;
}

.logo {
    display: block;
    width: 20%;
    margin: auto;
    padding-bottom: 20px;
}

/** --------------------------- CONTENIDO PRINCIPAL -------------------------- **/

main{
    width: 1920px;
}

/** -------------------------------- SLIDESHOW ------------------------------- **/
#slider {
    overflow: hidden;
    width: 1700PX;
    margin: auto;
    margin-top: 20px;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 10s slider infinite;
    margin-top: 20px;
}

#slider figure img {
    width: 20%;
    float: left;
}

@keyframes slider {
    0% { left: 0; }
    20% { left: 0; }
    25% { left: -100% }
    45% { left: -100% }
    50% { left: -200% }
    70% { left: -200% }
    75% { left: -300% }
    95% { left: -300% }
    100% { left: -400% }
}

/** --------------------------------- BRANDS --------------------------------- **/

.marcas {
    background: hsl(236, 17%, 80%);;
}

.brands {
    width: 1920px;
    height: 180px;
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    justify-content: center;
}

.brands img {
    margin: 20px;
    width: 10%;
}

.marvel {
    height: 75%;
}


/** --------------------------------- OFFERS --------------------------------- **/
.ofertas {
    background: #fff;
}

.ofertas h2 {
    font-family: 'aArigatouGozaimasu';
    font-weight: 900;
    text-align: center;
    font-size: 50px;
    color: #EF233C;
    margin-bottom: 50px;
}

.pic {
    display: flex;
    justify-content: center;
    align-items: center;
}

#marquee {
    padding: 50px 0px;
    width: 1920px;
    margin-top: 70px;
}

#marquee .ofertas {
    overflow: hidden;
    width: 1920px;
}

#marquee .pic-container {
    display: flex;
    animation: marquee 50s infinite linear;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}


/** ------------------------------- CATEGORIES ------------------------------- **/
.category {
    width: 1920px;
    margin-bottom: 80px;
}

#categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    width: 1440px;
}

.gif {
    margin-right: 40px;
    margin-left: 40px;
}

.gif-1 {
    width: 480px;
    height: 275px;
    margin-bottom: 80px;
}

.gif-2 {
    width: 480px;
    height: 275px;
    margin-bottom: 80px;
}

.gif-3 {
    width: 480px;
    height: 275px;
}

.gif-4 {
    width: 480px;
    height: 275px;
}

.category-title {
    font-family: 'aArigatouGozaimasu';
    font-size: 50px;
    text-align: center;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 80px;
}

#category-title {
    background: #ef233c;
}

#categories a {
    text-decoration: none;
}

/** ---------------------------------- ABOUT --------------------------------- **/

#about {
    width: 1920px;
}

.options {
    background: #515372;
    height: 80px;
    margin-top: 20px;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info i, p {
    color: #fff;
}

.info i {
    font-size: 36px;
    margin-right: 10px;
}

.info p {
    font-size: 20px;
    font-family: 'Poppins';
}

.opciones-pago {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
    margin-top: 24px;
}
.opciones-envio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
    margin-top: 24px;
}
.politica {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
    margin-top: 24px;
}
.nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}


/** ---------------------------------- MENU ---------------------------------- **/
footer {
    width: 1920px;
    margin: auto;
    margin-top: 20px;
}

footer .menu {
    background: #ef233c;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 40px;
    position: fixed;
    bottom: 20px;
    width: 385px;
    height: 45px;
    right: 40%;
}

footer nav {
    display: flex;
    justify-content: space-around;
    margin: auto;
}

footer ul {
    list-style: none;
    display: flex;
    align-content: center;
    padding: 0px;
    margin: 8px;
}

footer ul li a {
    text-decoration: none;
    color: white;
    margin: auto;
    padding: 15px;
}

.iconify {
    width: 25px;
    height: 25px;
    text-align: center;
    align-items: center;
}


/*****RESPONSIVE*HOME***********************************************************/

@media (max-width: 769px) {
    /*HEADER*/
    .logo {
        width: 34%;
        padding-bottom: 40px;
        margin: -3px 0px 0px 238px;
    }

    .top-bar{
        width: 100vw;
    }

    /*BODY*/
    #slider {
        width: 100vw;
        margin-top: -21px;
    }

    .brands{
        width: 100vw;
        flex-direction: column;
        margin: 50px;
        height: 926px;
        margin: 0px;
    }

    .brands img{
        width: 24%;
        height: 40%;
        margin: auto;
    }

    #categories {
        width: 100vw;
        margin: auto;
    }

    #categories img {
        margin: 27px;
        width: 93%;
    }

    #marquee {
        width: 100vw;
        padding: 0px;
    }

    .ofertas h2 {
        margin-bottom: 70px;
    }

    .category-name {
        opacity: 1;
    }

    .category-name p {
        text-align: center;
        margin-top:0px;
        margin-bottom: 0px;
        margin-left: 0px; 
        color: #ef233c;
        width: 95vw;
    }

    /*FOOTER*/

    .opciones-pago {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 24px;
        margin-right: 0px;
    }

    .info {
        flex-direction: column;
    }

    .options {
        background: #515372;
        height: 270px;
        margin-top: 20px;
    }

    .opciones-envio {
        margin-right: 0px; 
    }

    .politica {
        margin-right: 0px; 
    }

    footer .menu {
        width: 40vw;
        right: 30vw
    }
    #shop {
        display: flex;
        width: 90%;
    }
    .details {
        position: relative;
    }
    
    .details .elements .desc {
        display: block;
        position: absolute;
        right: 70px;
    }   
}

@media(max-width:480px) {
    /*HEADER*/
    .logo {
        width: 83%;
        padding-bottom: 40px;
        margin: -3px 0px 0px 40px;
    }

    .top-bar{
        width: 100vw;
    }

    /*BODY*/
    #slider {
        width: 100vw;
        margin-top: -21px;
    }

    .brands{
        width: 100vw;
        flex-direction: column;
        margin: 50px;
        height: 590px;
        margin: 0px;
    }

    .brands img{
        width: 24%;
        height: 40%;
        margin: auto;
    }

    #categories {
        width: 100vw;
        margin: auto;
    }

    #categories img {
        margin: 27px;
        width: 84%;
    }

    #marquee {
        width: 100vw;
        padding: 0px;
    }

    .ofertas h2 {
        margin-bottom: 70px;
    }

    .category-name {
        opacity: 1;
    }

    .category-name p {
    text-align: center;
    margin-top:0px;
    margin-bottom: 0px;
    margin-left: 0px; 
    color: #ef233c;
    width: 95vw;
    }

    /*FOOTER*/

    .opciones-pago {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 24px;
        margin-right: 0px;
    }

    .info {
        flex-direction: column;
    }

    .options {
        background: #515372;
        height: 270px;
        margin-top: 20px;
    }

    .opciones-envio {
        margin-right: 0px; 
    }

    .politica {
        margin-right: 0px; 
    }

    footer .menu {
        width: 60vw;
        right: 20vw
    }
}