*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    width: 1920px;
    margin: auto;
    margin-top: 20px;
}

footer .menu {
    background: #ef233c;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 40px;
    position: fixed;
    bottom: 20px;
    width: 385px;
    height: 45px;
    right: 40%;
}

footer nav {
    display: flex;
    justify-content: space-around;
    margin: auto;
}

footer ul {
    list-style: none;
    display: flex;
    align-content: center;
    padding: 0px;
    margin: 8px;
}

footer ul li a {
    text-decoration: none;
    color: white;
    margin: auto;
    padding: 15px;
}

.iconify {
    width: 25px;
    height: 25px;
    text-align: center;
    align-items: center;
}