@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

@font-face {
    font-family: 'Arigatou';
    src: url(./Arigatou.ttf);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}


/** --------------------------------- HEADER --------------------------------- **/
header{
    width: 1920px;
    background: #ef233c;
}

.top-bar{
    width: 1920px;
    height: 30px;
    color: #ef233c;
    background:#EF233C;
}

.logo {
    display: block;
    width: 20%;
    margin: auto;
    padding-bottom: 20px;
}


/** ------------------------------- FORMULARIO ------------------------------- **/
body {
	background-image: url(../images/productos/fondo-manga-30.png);
	background-size: cover;
	font-family: 'Montserrat';
}

.form-box {
	width: 380px;
	height: 550px;
	position: relative;
	margin: 6% auto;
	background: #fff;
	padding: 5px;
	box-shadow: 6px 7px 9px 2px rgba(0,0,0,0.18);
	border-radius: 20px;
	margin-bottom: 140px;
}

.button-box {
	width: 220px;
	margin: 35px auto;
	position: relative;
	box-shadow: 0 0 20px 9px #ff61241f;
	border-radius: 30px;
}

.toggle-btn {
	padding: 10px 30px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
}

#btn {
	top: 0;
	left: 110px;
	position: absolute;
	width: 110px;
	height: 100%;
	background: #ef233b75;
	border-radius: 30px;
	transition: .5s;
}

.social-icons {
	margin: 30px auto;
	text-align: center;
	margin-top: -5px;
}

.social-icons img {
	width: 25px;
	margin: 0 12px;
	cursor: pointer;
}

.input-group {
	top: 180px;
	width: 280px;
	transition: .5s;
    margin-left: 40px;
}

.input-field {
	width: 100%;
	padding: 10px 0;
	margin: 5px 0;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #999;
	outline: none;
	background: transparent;
}

.submit-btn {
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: #ef233b75;
	border: 0;
	outline: none;
	border-radius: 30px;
}

.check-box {
	margin: 30px 10px 30px 0;
}

span {
	color: #777;
	font-size: 12px;
	bottom: 64px;
    margin-top: -25px;
}

#login {
	left: 50px;
}

#register {
	left: 450px;
}



/** ---------------------------------- MENU ---------------------------------- **/
footer {
    width: 100vw;
    margin: auto;
    margin-top: 20px;
}

footer .menu {
    background: #ef233c;
    max-width: 20%;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 40px;
    position: fixed;
    right: 40%;
    bottom: 20px;
}

footer nav {
    display: flex;
    justify-content: space-around;
    margin: auto;
}

footer ul {
    list-style: none;
    display: flex;
    align-content: center;
    padding: 0px;
}

footer ul li a {
    text-decoration: none;
    color: white;
    margin: auto;
    padding: 15px;
}

.iconify {
    width: 25px;
    height: 25px;
    text-align: center;
    align-items: center;
}

