@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');


body {
    margin: 0px;
    font-family: 'Montserrat', 'Raleway';
}

/*HEADER----------------------------------------------------------------*/
header{
    width: 100vw;
    background: #515372;
}

.top-bar{
    width: 100%;
    height: 30px;
    color: #515372;
    background:#515372;
}

.logo {
    display: block;
    margin: auto;
    width: 83%;
    padding-bottom: 40px;
    margin:-3px 0px 0px 40px;

}

/*MAIN------------------------------------------------------------------*/
main {
    background: url(../images/productos/fondo-ppal30.png);
    background-size: repeat;
}

.title {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 50px;
    text-align: center;
    color: #ef233c;
    padding-top: 40px;
    padding-bottom: 40px;
}

.title img {
    width: 80%;
}


main .main-products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px;
    margin-bottom: 20px;
}

main .main-products .main-articles {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    border-radius: 16px;
    border: 1px solid;
    border-color: #5153722e;
    box-shadow: 9px 9px 20px -3px rgb(0 0 0 / 32%);
    padding-top: 10px;
    width: 60%;
    margin-bottom: 25px;
    background: #fff;
}

main .main-products .main-articles img {
    width: 90%;
    height: 90%;
    margin: auto;
    border-radius: 16px;
    margin-top: 0;
    margin-bottom: 20px;
}

main .main-products .main-articles img:hover {
    cursor: pointer;
    background: #515372;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    box-shadow: 0px 8px 6px 1px rgb(0 0 0 / 10%);
}

main .main-products .article-description p {
    width: 90%;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'Raleway';
}

main .main-products .main-articles .article-cost p {
    text-align: center;
    margin: auto;
    padding: 14px;
    position: absolute;
    border-radius: 10px;
    background-color: #515372;
    color: white;
    opacity: 75%;
    top: 6%;
    right: -4%;
    font-size: 20px;
}

main .main-products .main-articles .article-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

main .main-products .main-articles .article-form a button {
    border-radius: 10px;
    border: none;
    background-color: #767375;
    color: white;
    margin: 20px 10px 30px 10px;
    width: 87px;
    height: 28px;
    font-size: 18px;
}

main .main-products .main-articles .article-form a #anadir {
    color: white;
    background-color: #f24f63;
}

main .main-products .main-articles i {
    position: absolute;
    font-size: 30px;
    left: 10%;
    top: 60%;
    cursor: pointer;
}


@media (min-width: 480px) {
    header .header img {
        width: 15%;
    }

    header .header {
        margin-bottom: 26px;
    }

    main .main-products .main-articles {
        width: 45%;
        margin: 10px;
    }

    main .main-products .main-articles i {
        top: 62%;
        left: 11%;
    }

    footer .menu {
        width: 50%;
    }
}

@media (min-width: 769px) {

    main .main-products .main-articles {
        width: 26%;
        margin: 26px;
        box-shadow: none;
    }

    main .mainproducts .main-articles:hover {
        transition: all 0.2s;
        /* box-shadow: 9px 9px 20px -3px rgb(0 0 0 / 32%); */
        box-shadow: 9px 9px 20px -3px #51537259;
    }

    header .header img {
        width: 7%;
    }

    main .main-products .main-articles .article-form a button {
        margin: 20px 14px 35px 14px;
        width: 160px;
        height: 41px;
        font-size: 30px;
    }

    main .main-products .main-articles .article-form a #anadir:hover {
        transition: all 0.1s;
        background-color: #e00f28;
        cursor: pointer;
    }

    main .main-products .main-articles .article-form a #detalles:hover {
        transition: all 0.1s;
        background-color: #393D3F;
        cursor: pointer;

    }

    main .main-products .article-description p {
        font-size: 40px;
    }

    main .main-products .main-articles .article-cost p {
        font-size: 34px;
        padding: 22px;
    }

    main .main-products .main-articles i {
        font-size: 40px;
        top: 60%;
    }

    main .main-products .main-articles i:hover {
        margin: auto;
        transition: all 0.1s;
        font-size: 45px
    }

    footer .menu {
        width: 60%;
    }

}

/* --------------------------------- FOOTER --------------------------------- */

footer {
    width: 100vw;
    margin: auto;
    margin-top: 20px;
}

footer .menu {
    background: #ef233c;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 40px;
    position: fixed;
    bottom: 20px;
    width: 60vw;
    right: 20vw
}

footer nav {
    display: flex;
    justify-content: space-around;
    margin: auto;
}

footer ul {
    list-style: none;
    display: flex;
    align-content: center;
    padding: 0px;
    margin: 8px;
}

footer ul li a {
    text-decoration: none;
    color: white;
    margin: auto;
    padding: 15px;
}

.iconify {
    width: 25px;
    height: 25px;
    text-align: center;
    align-items: center;
}

/*DETALLES-PRODCTO--------------------------------------------------------------------------------------------*/

main .main-producto .producto-detalle {
    margin: auto;
}


main .main-producto .producto-detalle img {
    width: 90%;
}

main .main-producto .producto-detalle {
    display: flex;
    width: 80vw;
    position: relative;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 45px;
    border: 4px solid;
    border-color: #5153722e;
    padding: 10px;
    padding-bottom: 30px;
}

main .main-producto .producto-detalle img {
    margin: auto;
    display: flex;
    margin: auto;
    width: 100%;
    position: relative;
    border-radius: 16px;
    padding-top: 10px;
}

main .main-producto .producto-detalle .producto-description {
    display: flex;
    margin: auto;
    width: 68%;
    background-color: white;
    flex-direction: column;
    align-items: center;
}

main .main-producto .producto-detalle .producto-description .description {
    margin: 0;
    margin: 10px;
    width: 220px;
    font-size: 24px
}

main .main-products {
    margin-bottom: 90px;
}

@media (min-width: 480px) {
    main .main-producto .producto-detalle img {
        width: 40%;
    }

    main .main-producto .producto-detalle {
        flex-direction: row;
    }

    main .main-producto .producto-detalle .producto-description {
        width: 30%;
    }

    main .main-producto .producto-detalle {
        width: 76vw;
    }

}

/*PRICE TAG*/
.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
    from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    }
    10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    }
    17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    }
    33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    }
    45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    }
}

@keyframes heartbeat {
    from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    }
    10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    }
    17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    }
    33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    }
    45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    }
}