<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.iconify.design/2/2.0.4/iconify.min.js"></script>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="shortcut icon" href="./images/logos/FAVICON_2_ROJO.png" type="image/png">
    <title>Kruto Store</title>
</head>

<body>
    <header>
        <div class="header">
            <a href="/index"><img src="./images/logos/KRUTO_NEGRO.png"></a>
        </div>
    </header>
    <main>
        <div class="imagen">
            <img src=".\images\products\NARUTO\0b4c4260260a47c1a42a56f52c22722c.jpg.jpg" alt="imagen1">
        </div>

        <div class="brands">
            <img src="./images/logos/carrete.png" alt="brands">
        </div>

        <h2 class="sales">OFERTAS EXCLUSIVAS</h2>

        <div class="productos">
            <img src=".\images\products\NARUTO\0b13a2d64f2f402c92aab9e272255ba5.jpg.jpg" alt="imagen2">
            <img src=".\images\products\NARUTO\ultra-tokyo-connection-pvc-scale-figures-nyanto-the-big-nyaruto-series-iruka-umino-18015534121004_2000x2000.jpg"
                alt="imagen3">
            <img src=".\images\products\NARUTO\Sarutobi-hokage-statue-naruto-oniri-creations12.jpg" alt="imagen4">
            <img src=".\images\products\NARUTO\megahouse-pvc-scale-figures-naruto-naruto-uzumaki-look-up-series-figure-re-run-16910304280620_2000x2000.jpg"
                alt="imagen5">
            <img src=".\images\products\NARUTO\f07479a517144d4f839b3dcf64bbcce5.jpg.jpg" alt="">
        </div>

        <h2 class="categories">NUESTRAS CATEGORIAS</h2>
        <section class="categories_sec">
                <article>
                    <img src=".\images\products\NARUTO\2ac207ec07424ad686c02169683a6968.jpg.jpg" alt="prod.">
                    <p>SERIES</p>
                </article>
                <article>
                    <img src=".\images\products\NARUTO\11ae569756f847f18befbafd20c09c77.jpg.jpg" alt="prod.">
                    <p>PELÍCULAS</p>
                </article>
                <article>
                    <img src=".\images\products\NARUTO\0e08f2aac9fe40e894ebbf255ad570ea.jpg.jpg" alt="prod.">
                    <P>ANIME</P>
                </article>
                <article>
                    <img src=".\images\products\NARUTO\megahouse-pvc-scale-figures-naruto-shippuden-gaara-g-e-m-series-scale-figure-re-run-11977363423276_2000x2000.jpg"
                        alt="prod.">
                    <P>MÚSICA</P>
                </article>
        </section>
        <section>
            <div class="options">
                <nav>
                    <ul>
                        <li><span class="iconify" data-icon="ant-design:credit-card-filled"></span><a href="#">Opciones
                                de pago</a></li>
                        <li><span class="iconify" data-icon="mdi:truck-fast"></span></span><a href="#">Opciones de
                                envío</a>
                        </li>
                        <li><span class="iconify" data-icon="ic:baseline-assignment-return"></span><a href="#">Política
                                de
                                devoluciones</a></li>
                        <li><span class="iconify" data-icon="uil:comment-info-alt" data-flip="horizontal"></span><a
                                href="#">Acerca de nosotros</a></li>
                    </ul>
                </nav>
            </div>
        </section>
    </main>
    <footer>
        <section>
            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="#"><span class="iconify" data-icon="cil:home"></span></a></li>
                        <li><a href="/products"><span class="iconify" data-icon="bx:bx-store"></span></a></li>
                        <li><a href="/productCart"><span class="iconify"
                                    data-icon="ic:baseline-local-grocery-store"></span></a></li>
                        <li><a href="#"><span class="iconify" data-icon="ant-design:search-outlined"></span></a></li>
                        <li><a href="/login"><span class="iconify" data-icon="gg:profile"></span></a></li>
                    </ul>
                </nav>
            </div>
        </section>
        <div class="top-bar">""
        </div>
    </footer>
</body>

</html>