<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.iconify.design/2/2.0.4/iconify.min.js"></script>
    <link rel="stylesheet" href="./css/style.css">
    <title>Shopping Cart</title>
</head>

<body>
    <header id="shoppingCart">
        <section>
            <div class="top-bar">
                " "
            </div>
        </section>
    </header>
    <main id="shop">
        <section class="top-section">
            <article class="intro">
                <ul>
                    <li><span class="iconify" data-icon="akar-icons:arrow-back-thick-fill"></span><a
                            href="/home">REGRESAR</a></li>
                    <li><span class="iconify" data-icon="ic:round-shopping-cart"></span><a href="#">Tienes en tu
                            shopping cart...</a></li>
                </ul>
                <div class="logoBlue">
                    <img src="./img/kruto_azul.png" alt="kruto_azul">
                </div>
            </article>
            <section class="product_detail">
                <article class="details">
                    <div class="elements">
                        <div>
                            <p>Item</p>
                        </div>
                        <div class="desc">
                            <ul>
                                <li>Precio</li>
                                <li>Cantidad</li>
                                <li>Total</li>
                            </ul>
                        </div>
                    </div>
                </article>
                <article class="product1">
                    <div class="product_icon">
                        <div class="icon">
                            <span class="iconify" data-icon="bx:bxl-shopify" width=30px></span>
                        </div>
                        <ul class="product_ref">
                            <li>Item name</li>
                            <li>ref:123</li>
                        </ul>
                    </div>
                    <div class="product_det">
                        <ul class="price">
                            <li>
                                <p> $12.345 </p>
                            </li>
                            <li>
                                <p class="quantity"> - 1 + </p>
                            </li>
                            <li>
                                <p> $12.345</p>
                            </li>
                            <div class="clear">
                                <li><span class="iconify" data-icon="mdi:trash-can" width=30px></span></li>
                            </div>
                        </ul>
                    </div>
                </article>
                <article class="product2">
                    <div class="product_icon">
                        <div class="icon">
                            <span class="iconify" data-icon="bx:bxl-shopify" width=30px></span>
                        </div>
                        <ul class="product_ref">
                            <li>Item name</li>
                            <li>ref:123</li>
                        </ul>
                    </div>
                    <div class="product_det">
                        <ul class="price">
                            <li>
                                <p> $12.345 </p>
                            </li>
                            <li>
                                <p class="quantity"> - 1 + </p>
                            </li>
                            <li>
                                <p> $12.345</p>
                            </li>
                            <div class="clear">
                                <li><span class="iconify" data-icon="mdi:trash-can" width=30px></span></li>
                            </div>
                        </ul>
                    </div>
                </article>
                <article class="product1">
                    <div class="product_icon">
                        <div class="icon">
                            <span class="iconify" data-icon="bx:bxl-shopify" width=30px></span>
                        </div>
                        <ul class="product_ref">
                            <li>Item name</li>
                            <li>ref:123</li>
                        </ul>
                    </div>
                    <div class="product_det">
                        <ul class="price">
                            <li>
                                <p> $12.345 </p>
                            </li>
                            <li>
                                <p class="quantity"> - 1 + </p>
                            </li>
                            <li>
                                <p> $12.345</p>
                            </li>
                            <div class="clear">
                                <li><span class="iconify" data-icon="mdi:trash-can" width=30px></span></li>
                            </div>
                        </ul>
                    </div>
                </article>
                <article class="product2">
                    <div class="product_icon">
                        <div class="icon">
                            <span class="iconify" data-icon="bx:bxl-shopify" width=30px></span>
                        </div>
                        <ul class="product_ref">
                            <li>Item name</li>
                            <li>ref:123</li>
                        </ul>
                    </div>
                    <div class="product_det">
                        <ul class="price">
                            <li>
                                <p> $12.345 </p>
                            </li>
                            <li>
                                <p class="quantity"> - 1 + </p>
                            </li>
                            <li>
                                <p> $12.345</p>
                            </li>
                            <div class="clear">
                                <li><span class="iconify" data-icon="mdi:trash-can" width=30px></span></li>
                            </div>
                        </ul>
                    </div>
                </article>
                <article class="product1">
                    <div class="product_icon">
                        <div class="icon">
                            <span class="iconify" data-icon="bx:bxl-shopify" width=30px></span>
                        </div>
                        <ul class="product_ref">
                            <li>Item name</li>
                            <li>ref:123</li>
                        </ul>
                    </div>
                    <div class="product_det">
                        <ul class="price">
                            <li>
                                <p> $12.345 </p>
                            </li>
                            <li>
                                <p class="quantity"> - 1 + </p>
                            </li>
                            <li>
                                <p> $12.345</p>
                            </li>
                            <div class="clear">
                                <li><span class="iconify" data-icon="mdi:trash-can" width=30px></span></li>
                            </div>
                        </ul>
                    </div>
                </article>
            </section>

            <article class="subtotal">
                <div class="subtotal_item">
                    <p>Subtotal: 123.456</p>
                    <p>IVA: % 0</p>
                    <p>Descuento $0</p>
                </div>


                <div class="continue">
                    <form action="/pago" method="POST">
                        <button type="submit">Continuar</button>
                    </form>
                </div>
            </article>
        </section>

        <section class="clientInfo">
            <article class="clientProfile">
                <div class="profile">
                    <img src="./img/perfil.png" alt="perfil">
                </div>
                <h3>Detalles del cliente</h3>
            </article>
            <article class="payment">
                <div><span class="iconify" data-icon="logos:visa"></span></div>
                <div><span class="iconify" data-icon="logos:mastercard"></span></div>
                <div><span class="iconify" data-icon="fontisto:american-express"></span></div>
                <div><span class="iconify" data-icon="logos:paypal"></span></div>
                <div><img src="./img/pse.jfif" alt="pse" width="45px"></div>
            </article>

            <article class="clientCard">
                <form action="form" method="post">
                    <div class="mainInfo">
                        <p>
                            <label for="name">Nombre</label>
                            <input type="text" id="name" name="name" placeholder="Como aparece en la tarjeta">
                        </p>
                        <p>
                            <label for="number">Número de la tarjeta</label>
                            <input type="number" id="number" name="number" placeholder="Como aparece en la tarjeta">
                        </p>
                    </div>
                    <div class="cardInfo">
                        <p>
                            <label for="month">Fecha Exp.</label><br>
                            <input type="month" id="date" name="month" placeholder=" MM/YY ">
                        </p>
                        <p>
                            <label for="cvv">CVV</label><br>
                            <input type="number" id="number" name="number" placeholder="###">
                        </p>
                        </div>
                            <article class="total">
                                <div class="total-p">
                                    <p>TOTAL : </p>
                                </div>
                                <form action="/pago" method="POST">
                                    <P class="total-price">$123.456</P>
                                    <button type="submit">PAGAR</button>
                                </form>
                        </div>
                </form>
            </article>
            </article>
        </section>
    </main>
    <footer id="shoppingCart">
        <section>
            <div class="top-bar">
                " "
            </div>
        </section>
    </footer>
</body>

</html>