<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.iconify.design/2/2.0.4/iconify.min.js"></script>
    <link rel="stylesheet" href="./css/stylesProducts.css">
    <link rel="stylesheet" href="./images/logos/FAVICON_2_ROJO.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="./images/logos/FAVICON_2_ROJO.png" type="image/png">
    <title>Kruto Store</title>
</head>

<body>
    <header>
        <div class="header">
            <a href="/index"><img src="./images/logos/KRUTO_BLANCO.png"></a>
        </div>
    </header>
    <main>
        <section class="main_products">
            <article class="main_articles">
                <img src="./images/productos/nendo1.png">
                <div class="article_description">
                    <p>Chibi Kakashi Hatake</p>
                </div>
                <div class="article_cost">
                    <p><strong>$ </strong>16.0</p>
                </div>
                <i class="far fa-heart"></i>
                <div class="article_form">
                    <a href="/productCart">
                        <button id="anadir">Añadir</button>
                    </a>
                    <a href="/productDetail">
                        <button id="detalles">Detalles</button>
                    </a>
                </div>
            </article>
            <article class="main_articles">
                <img src="./images/productos/nendo2.png">
                <div class="article_description">
                    <p>Chibi Kakashi Hatake</p>
                </div>
                <div class="article_cost">
                    <p><strong>$ </strong>16.0</p>
                </div>
                <i class="far fa-heart"></i>
                <div class="article_form">
                    <a href="/productCart">
                        <button id="anadir">Añadir</button>
                    </a>
                    <a href="/productDetail">
                        <button id="detalles">Detalles</button>
                    </a>
                </div>
            </article>
            <article class="main_articles">
                <img src="./images/productos/nendo3.png">
                <div class="article_description">
                    <p>Chibi Kakashi Hatake</p>
                </div>
                <div class="article_cost">
                    <p><strong>$ </strong>16.0</p>
                </div>
                <i class="far fa-heart"></i>
                <div class="article_form">
                    <a href="/productCart">
                        <button id="anadir">Añadir</button>
                    </a>
                    <a href="/productDetail">
                        <button id="detalles">Detalles</button>
                    </a>
                </div>
            </article>
            <article class="main_articles">
                <img src="./images/productos/nendo4.png">
                <div class="article_description">
                    <p>Chibi Kakashi Hatake</p>
                </div>
                <div class="article_cost">
                    <p><strong>$ </strong>146.0</p>
                </div>
                <i class="far fa-heart"></i>
                <div class="article_form">
                    <a href="/productCart">
                        <button id="anadir">Añadir</button>
                    </a>
                    <a href="/productDetail">
                        <button id="detalles">Detalles</button>
                    </a>
                </div>
            </article>
            <article class="main_articles">
                <img src="./images/productos/nendo5.png">
                <div class="article_description">
                    <p>Chibi Kakashi Hatake</p>
                </div>
                <div class="article_cost">
                    <p><strong>$ </strong>160.0</p>
                </div>
                <i class="far fa-heart"></i>
                <div class="article_form">
                    <a href="/productCart">
                        <button id="anadir">Añadir</button>
                    </a>
                    <a href="/productDetail">
                        <button id="detalles">Detalles</button>
                    </a>
                </div>
            </article>
            <article class="main_articles">
                <img src="./images/productos/nendo6.png">
                <div class="article_description">
                    <p>Chibi Kakashi Hatake</p>
                </div>
                <div class="article_cost">
                    <p><strong>$ </strong>16.0</p>
                </div>
                <i class="far fa-heart"></i>
                <div class="article_form">
                    <a href="/productCart">
                        <button id="anadir">Añadir</button>
                    </a>
                    <a href="/productDetail">
                        <button id="detalles">Detalles</button>
                    </a>
                </div>
            </article>
            <article class="main_articles">
                <img src="./images/productos/nendo7.png">
                <div class="article_description">
                    <p>Chibi Kakashi Hatake</p>
                </div>
                <div class="article_cost">
                    <p><strong>$ </strong>116.0</p>
                </div>
                <i class="far fa-heart"></i>
                <div class="article_form">
                    <a href="/productCart">
                        <button id="anadir">Añadir</button>
                    </a>
                    <a href="/productDetail">
                        <button id="detalles">Detalles</button>
                    </a>
                </div>
            </article>
            <article class="main_articles">
                <img src="./images/productos/nendo8.png">
                <div class="article_description">
                    <p>Chibi Kakashi Hatake</p>
                </div>
                <div class="article_cost">
                    <p><strong>$ </strong>216.0</p>
                </div>
                <i class="far fa-heart"></i>
                <div class="article_form">
                    <a href="/productCart">
                        <button id="anadir">Añadir</button>
                    </a>
                    <a href="/productDetail">
                        <button id="detalles">Detalles</button>
                    </a>
                </div>
            </article>
            <article class="main_articles">
                <img src="./images/productos/chibi1.png">
                <div class="article_description">
                    <p>Chibi Kakashi Hatake</p>
                </div>
                <div class="article_cost">
                    <p><strong>$ </strong>716.0</p>
                </div>
                <i class="far fa-heart"></i>
                <div class="article_form">
                    <a href="/productCart">
                        <button id="anadir">Añadir</button>
                    </a>
                    <a href="/productDetail">
                        <button id="detalles">Detalles</button>
                    </a>
                </div>
            </article>
            <article class="main_articles">
                <img src="./images/productos/chibi2.png">
                <div class="article_description">
                    <p>Chibi Kakashi Hatake</p>
                </div>
                <div class="article_cost">
                    <p><strong>$ </strong>316.0</p>
                </div>
                <i class="far fa-heart"></i>
                <div class="article_form">
                    <a href="/productCart">
                        <button id="anadir">Añadir</button>
                    </a>
                    <a href="/productDetail">
                        <button id="detalles">Detalles</button>
                    </a>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <section>
            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="/index"><span class="iconify" data-icon="cil:home"></span></a></li>
                        <li><a href="/products"><span class="iconify" data-icon="bx:bx-store"></span></a></li>
                        <li><a href="/productCart"><span class="iconify"
                                    data-icon="ic:baseline-local-grocery-store"></span></a></li>
                        <li><a href="#"><span class="iconify" data-icon="ant-design:search-outlined"></span></a></li>
                        <li><a href="/login"><span class="iconify" data-icon="gg:profile"></span></a></li>
                    </ul>
                </nav>
            </div>
        </section>
        <div class="top-bar">
        </div>
    </footer>
</body>

</html>