<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/productForm.css">
    <title>Administrador</title>
</head>
<body>
    <header>
        <section>
            <div class="top-bar">""
            </div>
            <div class="logo-kruto">
                <!-- <img class="mascota" src=".\images\logos\MASCOTA_BLANCO.png"> -->
                <img class="logo" src=".\images\logos\logo-kruto-azul.png" alt="kruto_rojo">
            </div>
        </section>
    </header> 
    <main>
        <h2>FORMULARIO PRODUCTOS</h2>
    </main>
    
</body>
</html>