<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.iconify.design/2/2.0.4/iconify.min.js"></script>
    <link rel="shortcut icon" href="./images/logos/FAVICON_2_AZUL.png" type="image/png">
    <link rel="stylesheet" href="./css/productForm.css">
    <title>Administrador</title>
</head>

<body>
    <header>
        <section>
            <div class="top-bar">""
            </div>
            <div class="logo-kruto">
                <!-- <img class="mascota" src=".\images\logos\MASCOTA_BLANCO.png"> -->
                <img class="logo" src=".\images\logos\logo-kruto-azul.png" alt="kruto_rojo">
            </div>
        </section>
    </header>
    <main>
        <h2>FORMULARIO PRODUCTOS</h2>
        <section class="details">
            <div class="producto">
                <p>Producto</p>
            </div>
            <div>
                <ul>
                    <li>Agregar</li>
                    <li>Editar</li>
                    <li>Eliminar</li>
                </ul>
            </div>
        </section>
        <section>
            <div class="product-icon">
                <div class="icon">

                </div>
                <ul class="product-ref">
                    <li>Item name</li>
                    <li>ref:123</li>
                </ul>
            </div>
            <div class="product_detail">
                <ul class="productEdit">
                    <li>
                        <span class="iconify" data-icon="ic:baseline-production-quantity-limits"></span>
                    </li>
                    <li>
                        <span class="iconify" data-icon="bx:bx-message-square-edit"></span>
                    </li>
                    <li>
                        <span class="iconify" data-icon="akar-icons:comment-add"></span>
                    </li>
                    <div class="clear">
                        <li><span class="iconify" data-icon="mdi:trash-can" width=30px></span></li>
                    </div>
                </ul>
            </div>
            </article>
        </section>
    </main>

</body>

</html>