<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.iconify.design/2/2.0.4/iconify.min.js"></script>
    <link rel="stylesheet" href="./css/stylesProducts.css">
    <link rel="stylesheet" href="./images/logos/FAVICON_2_ROJO.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="./images/logos/FAVICON_2_ROJO.png" type="image/png">
    <title>Kruto Store</title>
</head>

<body>
    <header>
        <div class="header">
            <a href="/index"><img src="./images/logos/KRUTO_BLANCO.png"></a>
        </div>
    </header>
    <main>
        <section class="main_products">
            <article class="main_articles">
                <img src="./images/products/kakashi/preview.jpg">
                <div class="article_description">
                    <p>Chibi Kakashi Hatake</p>
                </div>
                <div class="article_cost">
                    <p><strong>$ </strong>16.0</p>
                </div>
                <i class="far fa-heart"></i>
                <div class="article_form">
                    <form method="post" action="/productCart">
                        <button id="anadir">Añadir</button>
                    </form>
                    <form method="post" action="/productDetail">
                        <button id="detalles">Detalles</button>
                    </form>
                </div>
            </article>
            <article class="main_articles">
                <img src="./images/products/kakashi/right.jpg">
                <div class="article_description">
                    <p>Chibi Kakashi Hatake</p>
                </div>
                <div class="article_cost">
                    <p><strong>$ </strong>16.0</p>
                </div>
                <i class="far fa-heart"></i>
                <div class="article_form">
                    <form method="post" action="/productCart">
                        <button id="anadir">Añadir</button>
                    </form>
                    <form method="post" action="/productDetail">
                        <button id="detalles">Detalles</button>
                    </form>
                </div>
            </article>
            <article class="main_articles">
                <img src="./images/products/kakashi/perspective.jpg">
                <div class="article_description">
                    <p>Chibi Kakashi Hatake</p>
                </div>
                <div class="article_cost">
                    <p><strong>$ </strong>16.0</p>
                </div>
                <i class="far fa-heart"></i>
                <div class="article_form">
                    <form method="post" action="/productCart">
                        <button id="anadir">Añadir</button>
                    </form>
                    <form method="post" action="/productDetail">
                        <button id="detalles">Detalles</button>
                    </form>
                </div>
            </article>
            <article class="main_articles">
                <img src="./images/products/kakashi/perspective2.jpg">
                <div class="article_description">
                    <p>Chibi Kakashi Hatake</p>
                </div>
                <div class="article_cost">
                    <p><strong>$ </strong>146.0</p>
                </div>
                <i class="far fa-heart"></i>
                <div class="article_form">
                    <form method="post" action="/productCart">
                        <button id="anadir">Añadir</button>
                    </form>
                    <form method="post" action="/productDetail">
                        <button id="detalles">Detalles</button>
                    </form>
                </div>
            </article>
            <article class="main_articles">
                <img src="./images/products/kakashi/front.jpg">
                <div class="article_description">
                    <p>Chibi Kakashi Hatake</p>
                </div>
                <div class="article_cost">
                    <p><strong>$ </strong>160.0</p>
                </div>
                <i class="far fa-heart"></i>
                <div class="article_form">
                    <form method="post" action="/productCart">
                        <button id="anadir">Añadir</button>
                    </form>
                    <form method="post" action="/productDetail">
                        <button id="detalles">Detalles</button>
                    </form>
                </div>
            </article>
            <article class="main_articles">
                <img src="./images/products/kakashi/preview.jpg">
                <div class="article_description">
                    <p>Chibi Kakashi Hatake</p>
                </div>
                <div class="article_cost">
                    <p><strong>$ </strong>16.0</p>
                </div>
                <i class="far fa-heart"></i>
                <div class="article_form">
                    <form method="post" action="/productCart">
                        <button id="anadir">Añadir</button>
                    </form>
                    <form method="post" action="/productDetail">
                        <button id="detalles">Detalles</button>
                    </form>
                </div>
            </article>
            <article class="main_articles">
                <img src="./images/products/kakashi/right.jpg">
                <div class="article_description">
                    <p>Chibi Kakashi Hatake</p>
                </div>
                <div class="article_cost">
                    <p><strong>$ </strong>116.0</p>
                </div>
                <i class="far fa-heart"></i>
                <div class="article_form">
                    <form method="post" action="/productCart">
                        <button id="anadir">Añadir</button>
                    </form>
                    <form method="post" action="/productDetail">
                        <button id="detalles">Detalles</button>
                    </form>
                </div>
            </article>
            <article class="main_articles">
                <img src="./images/products/kakashi/perspective.jpg">
                <div class="article_description">
                    <p>Chibi Kakashi Hatake</p>
                </div>
                <div class="article_cost">
                    <p><strong>$ </strong>216.0</p>
                </div>
                <i class="far fa-heart"></i>
                <div class="article_form">
                    <form method="post" action="/productCart">
                        <button id="anadir">Añadir</button>
                    </form>
                    <form method="post" action="/productDetail">
                        <button id="detalles">Detalles</button>
                    </form>
                </div>
            </article>
            <article class="main_articles">
                <img src="./images/products/kakashi/perspective2.jpg">
                <div class="article_description">
                    <p>Chibi Kakashi Hatake</p>
                </div>
                <div class="article_cost">
                    <p><strong>$ </strong>716.0</p>
                </div>
                <i class="far fa-heart"></i>
                <div class="article_form">
                    <form method="post" action="/productCart">
                        <button id="anadir">Añadir</button>
                    </form>
                    <form method="post" action="/productDetail">
                        <button id="detalles">Detalles</button>
                    </form>
                </div>
            </article>
            <article class="main_articles">
                <img src="./images/products/kakashi/front.jpg">
                <div class="article_description">
                    <p>Chibi Kakashi Hatake</p>
                </div>
                <div class="article_cost">
                    <p><strong>$ </strong>316.0</p>
                </div>
                <i class="far fa-heart"></i>
                <div class="article_form">
                    <form method="post" action="/productCart">
                        <button id="anadir">Añadir</button>
                    </form>
                    <form method="post" action="/productDetail">
                        <button id="detalles">Detalles</button>
                    </form>
                </div>
            </article>
        </section>
    </main>
    <footer>
    </footer>
</body>

</html>