<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up | Krotus Store</title>
    <link rel="stylesheet" href="./css/register-login.css">
</head>
<body>
    <div class="container" id="container">
        <div class="form-container sing-up-container">
            <form action="#">
                <h1>Create Account</h1>
                <div class="social-container">
                    <a href="#" class="social"><span class="iconify" data-icon="akar-icons:google-contained-fill"></span></a>
                    <a href="#" class="social"><span class="iconify" data-icon="akar-icons:facebook-fill"></span></a>
                    <a href="#" class="social"><span class="iconify" data-icon="ant-design:twitter-circle-filled"></span></a>
                </div>

                <span>or use your email for registration</span>

                <input type="text" placeholder="Name">
                <input type="text" placeholder="Email">
                <input type="password" placeholder="Password">
                <button>Sing Up</button>
            </form>
        </div>
</body>
</html>