<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./images/logos/FAVICON_2_ROJO.png" type="image/png">
    <script src="https://code.iconify.design/2/2.0.4/iconify.min.js"></script>
    <link rel="stylesheet" href="./css/addProduct.css">
    <title>Agregar Producto</title>
</head>

<body>
    <!-- HEADER -->

    <main>
        <div class="container">
            <div class="container-form add-container">
                <h1>Agrega un nuevo producto</h1>
                <form action="#" method="post">
                    <div class="newProduct-container">
                        <input type="file" name="new-porduct" id="product">Foto del producto
                        <p>
                            <label for="product-name">Nombre del Producto</label>
                            <input type="text" name="product">
                        </p>
                        <p>
                            <label for="product-price">Precio</label>
                            <input type="text" name="product">
                        </p>
                        <p>
                            <button type="submit">Guardar</button>
                            <button type="submit">Volver</button>
                        </p>

                    </div>
                </form>
            </div>

        </div>
        <!-- <div class="container" id="container">
        <div class="form-container add-container">
            <form action="#">
                <h1>Agrega un nuevo producto</h1>
                <div class="social-container">
                    <a href="#" class="social"><span class="iconify" data-icon="akar-icons:google-contained-fill"></span></a>
                    <a href="#" class="social"><span class="iconify" data-icon="akar-icons:facebook-fill"></span></a>
                    <a href="#" class="social"><span class="iconify" data-icon="ant-design:twitter-circle-filled"></span></a>
                </div>

                <span>or use your email for registration</span>

                <input type="text" placeholder="Name">
                <input type="text" placeholder="Email">
                <input type="password" placeholder="Password">
                <a href="./register.html"><button>Sing Up</button></a>
            </form>
        </div> -->
    </main>

</body>

</html>