<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <script src="https://code.iconify.design/2/2.0.4/iconify.min.js"></script>
    <link rel="shortcut icon" href="/images/logos/FAVICON_2_ROJO.png" type="image/png">
    <title>Kruto Store</title>
</head>

<body>
<!-- ------------------------------- HEADER -------------------------------- -->
    <header>
        <section>
            <div class="top-bar">
            </div>
            <div class="logo-kruto">
                <a href="/"><img class="logo" src="..\images\logos\logo-kruto-azul.png" alt="kruto_azul"></a>
            </div>
        </section>
    </header>

    <!-- -------------------------------- CARD --------------------------------- -->

    <main class="flex">
        <article class="card">
            <img src="../images/productos/liquid-blue.svg" class="card-header"> 
            <div class="card-body">
                <img src="../images/logos/admin-blue.png" class="card-body-img">
                <h1 class="card-body-title">
                    KRUTO ADMIN
                </h1>
                <p class="card-body-text">Administrador</p>
            </div>
            <div class="card-footer">
                <div class="card-footer-social">
                    <a href="/admin/agregarProducto"><h3><i class="fas fa-plus-circle"></i></h3></a>
                    <p>Product</p>
                </div>
                <div class="card-footer-social">
                    <a href="/admin/eliminarProducto"><h3><i class="fas fa-trash"></i></h3></a>
                    <p>Product</p>
                </div>
                <div class="card-footer-social">
                    <a href="/admin/editarProducto"><h3><i class="fas fa-pen-square"></i></h3></a>
                    <p>Product</p>
                </div>
            </div>
        </article>
    </main>
</body>

</html>