<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./images/logos/FAVICON_2_AZUL.png" type="image/png">
    <script src="https://code.iconify.design/2/2.0.4/iconify.min.js"></script>
    <link rel="stylesheet" href="/css/eliminar.css">
    <title>Eliminar Producto</title>
</head>

<body>
    <!-- HEADER -->
    <header>
        <section>
            <div class="top-bar">
            </div>
            <div class="logo-kruto">
                <a href="/"><img class="logo" src="..\images\logos\logo-kruto-rojo.png" alt="kruto_azul"></a>
            </div>
        </section>
    </header>

    <main>
        <div class="box">
            <div class="container" id="container">
                <div class="container-form add-container">
                    <h2>¿Estas seguro de eliminar este producto?</h2>
            
                    <form action="/eliminarProducto/<%=producto.id%>/delete?_method=DELETE" method="POST">
                        <div class="newProduct-container">
                            <p>
                                Nombre del Producto: <%=producto.nombre%>
                            </p>
                            <p>¿Estas seguro de eliminar este producto?</p>
                            <div class="btn">
                                <button type="submit">Eliminar</button>
                                <p class="btn-right">
                                    <a href="/dashboard"><button type="button">Volver</button></a>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

</body>

</html>