<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />

    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <script src="https://code.iconify.design/2/2.0.4/iconify.min.js"></script>

    <link rel="shortcut icon" href="/images/logos/FAVICON_2_ROJO.png" type="image/png">
    
    <title>Kruto Store</title>
</head>

<body>
<!-- ------------------------------- HEADER -------------------------------- -->
<%- include ('./partials/header-red')%>
    <main>
        <!---------------------------------------SLIDESHOW---------------------------------------------->

        <div id="slider">
            <figure>
                <img src="\images\productos\slide1.png">
                <img src="\images\productos\slide2.png">
                <img src="\images\productos\slide3.png">
                <img src="\images\productos\slide4.png">
                <img src="\images\productos\slide5.png">
            </figure>
        </div>

<!-- ------------------------------- BRANDS -------------------------------- -->

        <div class="marcas">
            <div class="brands">
                <img src="\images\productos\disney.png">
                <img src="\images\productos\funko.png">
                <img src="\images\productos\naruto.png">
                <img src="\images\productos\star wars.png">
                <img src="\images\productos\harrypotter.png">
                <img src="\images\productos\marvel-logo.png" class="marvel">
                <img src="\images\productos\simpsons.png">
            </div>
        </div>


<!-- ------------------------------- OFERTAS ------------------------------- -->
        <section id="marquee">
            <div class="ofertas">
                <h2 class="ofert-title">OFERTAS EXCLUSIVAS</h2>
                <div class="pic-container">
                    <div class="pic">
                    </div>
                        <img src="\images\productos\nya1.png">
                    <div class="pic">
                        <img src="\images\productos\nya2.png">
                    </div>
                    <div class="pic">
                        <img src="\images\productos\nya3.png">
                    </div>
                    <div class="pic">
                        <img src="\images\productos\nya4.png">
                    </div>
                    <div class="pic">
                        <img src="\images\productos\nya5.png">
                    </div>
                    <div class="pic">
                        <img src="\images\productos\nya6.png">
                    </div>
                    <div class="pic">
                        <img src="\images\productos\nya7.png">
                    </div>
                    </div>
                </div>
            </div>
        </section>


<!-- ----------------------------- CATEGORIAS ------------------------------ -->
        <section class="category">
            <div id="category-title">
                <h3 class="category-title">NUESTRAS CATEGORIAS</h3>
            </div>
            
            <div id="categories">
                <div class="gif series">
                    <a href="/products"><img class="gif-1" src="\images\productos\gif1.gif"></a>
                </div>
                <div class="gif peliculas">
                    <a href="/products"><img src="\images\productos\gif2.gif" class="gif-2"></a>
                </div>
                <div class="gif anime">
                    <a href="/products"><img src="\images\productos\gif3.gif" class="gif-3"></a>
                </div>
                <div class="gif libros">
                    <a href="/products"><img src="\images\productos\gif4.gif" class="gif-4"></a>
                </div>
            </div>
        </section>


<!-- -------------------------------- ABOUT -------------------------------- -->
        <section id="about">
            <div class="options">
                <div class="info">

                    <div class="opciones-pago">  
                        <a href="/opcionesPagos"><i class="fas fa-credit-card"></i></a>
                        <p>Opciones de pago</p>
                    </div>
                    
                    <div class="opciones-envio">
                        <a href="/opcionesEnvios"><i class="fas fa-truck"></i></a>
                        <p>Opciones de envio</p>
                    </div>

                    <div class="politica">
                        <a href="/politicaDevoluciones"><i class="fas fa-file-alt"></i></a>
                        <p>Política de devoluciones</p>
                    </div>

                    <div class="nosotros">
                        <a href="/aboutUs"><i class="fas fa-users"></i></a>
                        <p>Acerca de nosotros</p>
                    </div>

                </div>
            </div>
        </section>
    
    </main>

<!-- -------------------------------- MENU --------------------------------- -->
    <%- include ('./partials/menu')%>
    <%if(user == 1){%>
        <%- include ('./partials/menuAdmin')%>
    <%}%>
    
</body>

</html>