<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.iconify.design/2/2.0.4/iconify.min.js"></script>
    <link rel="stylesheet" href="./css/envios.css">
    <link rel="stylesheet" href="./images/logos/FAVICON_2_AZUL.png">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="./images/logos/FAVICON_2_AZUL.png" type="image/png">
    <title>Opciones de Envios</title>
</head>
<body>
    <header>
        <section>
            <div class="top-bar">
            </div>
            <div class="logo-kruto">
                <!-- <img class="mascota" src=".\images\logos\MASCOTA_BLANCO.png"> -->
                <a href="/"><img class="logo" src=".\images\logos\logo-kruto-azul.png" alt="kruto_azul"></a>
            </div>
        </section>
    </header>
    <section class="banner scale-in-center">
        <div class="box content">
            <div class="contentBox">
                <h2>Opciones de Envios</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi ut hic delectus officiis ullam recusandae molestias vel sint tempora maiores corporis suscipit perferendis placeat cum fugiat repudiandae, culpa nemo porro alias quod? Rem tempora a neque similique aperiam voluptatem quae accusantium corporis magnam praesentium, quo consequatur perferendis architecto sequi enim.</p>
            </div>
            <ul class="sci">
                <h3>Siguenos en</h3>
                <li><a href="#"><img src=".\images\productos\instagram.png"></a></li>
                <li><a href="#"><img src=".\images\productos\twitter.png"></a></li>
            </ul>
        </div>
        <div class="box images">
            <div class="imgBx">
                <img src=".\images\productos\env3.png">
            </div>
            <div class="imgBx">
                <img src=".\images\productos\env2.png">
            </div>
            <div class="imgBx">
                <img src=".\images\productos\env1.png">
            </div>
        </div>
    </section>
</body>
</html>