<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.iconify.design/2/2.0.4/iconify.min.js"></script>
    <link rel="shortcut icon" href="./images/logos/FAVICON_2_AZUL.png" type="image/png">
    <link rel="stylesheet" href="./css/productForm.css">
    <title>Administrador</title>
</head>

<body>
    <%- include ('./partials/header-rojo') %>
   
    <main>
        <h2>FORMULARIO PRODUCTOS</h2>
        <section class="actions">
            <ul>
                <div>
                    <li>Producto</li>
                </div>
                <li>Agregar</li>
                <li>Editar</li>
                <li>Eliminar</li>
            </ul>
        </section>
        <% for (var i = 0; i < array.length; i++) { %>
            <section class="items">
                <ul>
                    <div>
                        <li><img src=".\images\productos\chibi1.png" alt=""></li>
                    </div>
                    <li><a href="/addProduct"><span class="iconify" data-icon="ic:baseline-production-quantity-limits"></span></a>
                    </li>
                    <li><a href="/editProduct"><span class="iconify" data-icon="bx:bx-message-square-edit"></span></a></li>
                    <li><a href="/removeProduct"><span class="iconify" data-icon="mdi:trash-can"></span></a></li>
                </ul>
            </section>
        <% } %>
    </main>
</body>
</html>