<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/productDetail.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <script src="https://code.iconify.design/2/2.0.4/iconify.min.js"></script>
    <link rel="shortcut icon" href="/images/logos/FAVICON_2_ROJO.png" type="image/png">
    <title>Kruto Store</title>
</head>

<body>
<!-- ------------------------------- HEADER -------------------------------- -->
    <header>
        <section>
            <div class="top-bar">
            </div>
            <div class="logo-kruto">
                <a href="/"><img class="logo" src="..\images\logos\logo-kruto-azul.png" alt="kruto_azul"></a>
            </div>
        </section>
    </header>

<!-- -------------------------------- MAIN --------------------------------- -->
    <div class="main">
        <div class="card">
            <div class="circle"></div>
            <div class="content">
                <h2>Sasuke Nendoroid</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit corporis numquam aut ut asperiores cupiditate consequatur vitae, ipsa et assumenda.</p>
                <h3>$450.00</h3>
                <a href="#">Buy Now</a>
            </div>
            <img src="..\images\productos\nendo18-NB.png">
        </div>
    </div>

<!-- ------------------------------- MENU -------------------------------- -->
    <footer>
        <section>
            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="/index"><span class="iconify" data-icon="cil:home"></span></a></li>
                        <li><a href="/products"><span class="iconify" data-icon="bx:bx-store"></span></a></li>
                        <li><a href="/productCart"><span class="iconify"
                                    data-icon="ic:baseline-local-grocery-store"></span></a></li>
                        <li><a href="#"><span class="iconify" data-icon="ant-design:search-outlined"></span></a></li>
                        <li><a href="/login"><span class="iconify" data-icon="gg:profile"></span></a></li>
                    </ul>
                </nav>
            </div>
        </section>
        <div class="top-bar">
        </div>
    </footer>
</body>

</html>