<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesProducts.css">
    <script src="https://code.iconify.design/2/2.0.4/iconify.min.js"></script>
    <link rel="shortcut icon" href="/images/logos/FAVICON_2_ROJO.png" type="image/png">
    <title>Kruto Store</title>
</head>

<body>
    <header>
        <section>
            <div class="top-bar">
            </div>
            <div class="logo-kruto">
                <a href="/index"><img class="logo" src="\images\logos\logo-kruto-azul.png" alt="kruto_rojo"></a>
            </div>
        </section>
    </header>

    <!-- MAIN -->
    <main>
        <article class="main-producto">
            <div class="producto-detalle">
                <img src=<%ingresan.image%>>
                <div class="producto_description">
                    <p class="description"><strong>Categorias</strong></p>
                    <h2 class="description">Nombre del producto</h2>
                    <p class="description"><%item.description%></p>
                    <h3 class="description"><strong>$ </strong>124.34</h3>
                    <a href="/productCart"><button id="anadir"><i class="fas fa-shopping-cart"></i>Añadir</button></a>
                </div>
            </div>
        </article>
        <section class="main-products">
            <article class="main-articles">
                <img src="/images/products/NARUTO/ino.jpg">
                <div class="article-description">
                    <p>Nombre del producto</p>
                </div>
                <div class="article-cost">
                    <p><strong>$ </strong>16.0</p>
                </div>
                <i class="far fa-heart"></i>
                <div class="article-form">
                    <a href="/productCart">
                        <button id="anadir">Añadir</button>
                    </a>
                    <a href="/productDetail">
                        <button id="detalles">Detalles</button>
                    </a>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <section>
            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="#"><span class="iconify" data-icon="cil:home"></span></a></li>
                        <li><a href="/products"><span class="iconify" data-icon="bx:bx-store"></span></a></li>
                        <li><a href="/productCart"><span class="iconify"
                                    data-icon="ic:baseline-local-grocery-store"></span></a></li>
                        <li><a href="#"><span class="iconify" data-icon="ant-design:search-outlined"></span></a></li>
                        <li><a href="/login"><span class="iconify" data-icon="gg:profile"></span></a></li>
                    </ul>
                </nav>
            </div>
        </section>
        <div class="top-bar">
        </div>
    </footer>
</body>

</html>