<%- include ('./partials/header-azul')%>
    <section>
        <nav class="nav">
            <ul>
                <li><i class="far fa-user-circle"></i></li>
                <li><a href="#">Actualizar datos</a></li>
                <li><a href="#">Eliminar cuenta</a></li>
                <li><button>Cerrar Sesion</button></li>
            </ul>
        </nav>
    </section>
</body>
</html>