body {
    margin: 0px;
}

/*HEADER----------------------------------------------------------------*/
header {
    padding: 0px;
    margin: 0px;
    background-color: #393D3F;
    border-radius: 0px 0px 4px 4px;
}

img {
    max-width: 90%;
}

header .header {
    padding: 10px 10px 10px 10px;
    margin-bottom: 40px;
    box-shadow: 0px 9px 24px 4px rgb(0 0 0 / 20%);
}

header .header img {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 56%;
    margin-bottom: 30px;
    margin-top: 30px;

}

/*MAIN------------------------------------------------------------------*/

main .main_products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px;
    margin-bottom: 20px;
}

main .main_products .main_articles {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    border-radius: 16px;
    border: 4px solid;
    border-color: #5153722e;
    box-shadow: 9px 9px 20px -3px rgb(0 0 0 / 32%);
    padding-top: 10px;
    width: 90%;
    margin-bottom: 25px;
}

main .main_products .main_articles img {
    width: 90%;
    height: 90%;
    margin: auto;
    border-radius: 16px;
    margin-top: 0;
    margin-bottom: 20px;
    background: #515372;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    box-shadow: 0px 8px 6px 1px rgb(0 0 0 / 10%);
}

main .main_products .main_articles img:hover {
    cursor: pointer;
}

main .main_products .article_description p {
    width: 90%;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
}

main .main_products .main_articles .article_cost p {
    text-align: center;
    margin: auto;
    padding: 14px;
    position: absolute;
    border-radius: 10px;
    background-color: #515372;
    color: white;
    opacity: 75%;
    top: 6%;
    right: -4%;
    font-size: 18px;
}

main .main_products .main_articles .article_form {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

main .main_products .main_articles .article_form a button {
    border-radius: 10px;
    border: none;
    background-color: #767375;
    color: white;
    margin: 20px 10px 30px 10px;
    width: 87px;
    height: 28px;
    font-size:18px;
}

main .main_products .main_articles .article_form a #anadir{
    color: white;
    background-color:#f24f63;
}

main .main_products .main_articles i {
    position: absolute;
    font-size: 30px;
    left: 10%;
    top:60%;
    cursor: pointer;
}


@media (min-width: 361px) {
    header .header img {
        width: 15%;
    }

    header .header {
        margin-bottom: 26px;
    }

    main .main_products .main_articles {
        width: 45%;
        margin: 10px;
    }

    main .main_products .main_articles i {
        top:62%;
        left:11%; 
    }
}

@media (min-width: 769px){
    
    main .main_products .main_articles {
        width: 26%;
        margin: 26px;
        box-shadow: none;
    }

    main .main_products .main_articles:hover {
        transition: all 0.2s;
        box-shadow: 9px 9px 20px -3px rgb(0 0 0 / 32%);
    }

    header .header img {
        width: 7%;
    }

    main .main_products .main_articles .article_form a button {
        margin: 20px 14px 35px 14px;
        width: 160px;
        height: 41px;
        font-size: 30px;
    }

    main .main_products .main_articles .article_form a #anadir:hover {
        transition: all 0.1s;
        background-color: #e00f28;
        cursor: pointer;
    }

    main .main_products .main_articles .article_form a #detalles:hover {
        transition: all 0.1s;
        background-color: #393D3F;
        cursor: pointer;

    }

    main .main_products .article_description p {
        font-size: 40px;
    }

    main .main_products .main_articles .article_cost p {
        font-size: 34px;
        padding: 22px;
    }

    main .main_products .main_articles i {
        font-size:50px;
        top: 60%;
    }

    main .main_products .main_articles i:hover {
        margin: auto;
        transition: all 0.1s;
        font-size:55px
    }
    
}

/*-------------------------------------------------------------------------------------*/

footer {
    width: 100vw;
    margin: auto;
    margin-top: 20px;
}

footer .menu {
    background: #ef233c;
    width: 20%;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 40px;
    position: fixed;
    right: 40%;
    bottom: 20px;
}
footer nav {
    display: flex;
    justify-content: space-around;
    margin: auto;
}

footer ul {
    list-style: none;
    display: flex;
    align-content: center;
    padding: 0px;
}

footer ul li a{
    text-decoration: none;
    color: white;
    margin: auto;
    padding: 15px;
}
 .iconify {
    width: 25px;
    height: 25px;
    text-align: center;
    align-items: center;
}
