<header>
    <section>
        <div class="logo-kruto">
            <a href="/"><img class="logo" src="\images\logos\logo-kruto-azul.png" alt="kruto_azul"></a>
        </div>
    </section>
</header>
