<footer>
    <section>
        <div class="menu">
            <nav>
                <ul>
                    <li><a href="/index"><span class="iconify" data-icon="cil:home"></span></a></li>
                    <li><a href="/products"><span class="iconify" data-icon="bx:bx-store"></span></a></li>
                    <li><a href="/productCart"><span class="iconify" data-icon="ic:baseline-local-grocery-store"></span></a></li>
                    <li><a href="#"><span class="iconify" data-icon="ant-design:search-outlined"></span></a></li>
                    <li><a href="/login"><span class="iconify" data-icon="gg:profile"></span></a></li>
                </ul>
            </nav>
        </div>
    </section>
</footer>
