<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/menu.css">
</head>
<body>
    <footer>
        <section>
            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="/"><span class="iconify" data-icon="cil:home"></span></a></li>
                        <li><a href="/products"><span class="iconify" data-icon="bx:bx-store"></span></a></li>
                        <li><a href="/productCart"><span class="iconify" data-icon="ic:baseline-local-grocery-store"></span></a></li>
                        <li><a href="/dashboard"><span class="iconify" data-icon="fluent:board-16-filled"></span></a></li>
                        <li><a href="/perfil"><span class="iconify" data-icon="gg:profile"></span></a></li>
                        <!-- <li><a href="/login"><span class="iconify" data-icon="fa6-solid:power-off" data-width="500" data-height="500"></span></a></li> -->
                        <li><a href="/login"><span class="iconify" data-icon="clarity:power-solid"></span></a></li>
                    </ul>
                </nav>
            </div>
        </section>
    </footer>
</body>
</html>